
.Nav{
    background-color:#1F2640;;
    height: 3em;
    padding-bottom:2em ;
    padding-left: 10em;
    
}
    


.Logo{
    max-width: 150%;
    max-height: 150%;
    display: block;
       
}


